= form_tag(create_patient_path,class:"form-horizontal form-center") do
  = label_tag(:name, "Patient Name:")
  = text_field_tag(:name,nil, class:"form-control")
  = label_tag(:mobile_no, "Mobile Number:")
  = telephone_field_tag(:mobile_no,nil,class:"form-control")
  %br
  = submit_tag("Add Patient",class:"btn btn-primary")


