%h2 Total Appointments : #{ @appointments.count}
%table.table.table-hover
  %tr
    %th Patient name
    %th Physician name
    %th Appointment Date
    %th Edit
  - @appointments.each do |appointment|
    %tr
      %td= Patient.find(appointment.patient_id).name
      %td= Physician.find(appointment.physician_id).name
      %td= appointment.appointment_date
      %td= link_to 'Edit', edit_appointments_path(appointment)

