= form_for(@appointment,url: appointments_path,class:'form-horizontal form-center') do |f|
  = render 'shared/error',object: f.object
  = f.label("Patient Name:")
  = f.select "patient", @patients.collect{ |u| [u.name, u.id] },prompt: 'Select Patient', class:"form-control"
  %br
  = f.label("Physician Name:")
  = f.select "physician", @physicians.collect{ |u| [u.name, u.id] },prompt: 'Select Physician', class:"form-control"
  %br
  = f.label(:appointment_date, "Appointment Date:")
  %br
  = f.datetime_local_field(:appointment_date,class:"form-control")
  %br
  = f.submit("Make appointment",class:"btn btn-primary")

-#

  = form_tag(appointments_path,class:'form-horizontal form-center') do
    = label_tag("Patient Name:")
  = select_tag "patient", options_for_select(@patients.collect{ |u| [u.name, u.id] },'Select Patient'),class:"form-control"

  = label_tag("Physician Name:")
  = select_tag "physician", options_for_select(@physicians.collect{ |u| [u.name, u.id] },'Select Physician'),class:"form-control"
  = label_tag(:appointment_date, "Appointment Date:")
  %br
  = datetime_local_field_tag(:appointment_date,class:"form-control")
  %br
  = submit_tag("Make appointment",class:"btn btn-primary")


