%nav.left-main
  %ul.left-menu
    %li= link_to 'Home',root_path
    %li= link_to 'Add Physician', new_physician_path
    %li= link_to 'Add Patient', new_patient_path
    %li= link_to 'Patient Appointments', patient_appointments_path
    %li= link_to 'Physician Appointments', physician_appointments_path
    %li= link_to 'All Appointments', appointments_path

